.footer {
  margin-top: 81px;
  padding-bottom: 76px;
  &__text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $white;
  }
}