body,
html {
  overflow-x: hidden;
}

body {
  background: $black;
  font-family: 'GT Walsheim Pro', sans-serif;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
  transition: .3s ease-in-out;
}
.container {


  max-width: 100%;
  padding: 0 1rem;

  @media(min-width: 960px) {
    max-width: 920px;
    padding: 0;
  }
  @media(min-width: 1080px) {
    max-width: 1024px;
  }
  @media(min-width: 1250px) {
    max-width: 1199px;
  }
  @media(min-width: 1439px) {
    max-width: 1280px;
  }
  margin: 0 auto;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.style-ellipse-1 {
  position: absolute;
  top:0;
  z-index: -1;
  right:0;
}
.style-ellipse-2 {
  position: absolute;
  top:0;
  z-index: -1;
  left:0;
}
.style-ellipse-3 {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  z-index: -1;
  left:0;
  right: 0;
  margin: 0 auto;
}
.style-ellipse-4 {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 35%;
}
.style-ellipse-5 {
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.nav-button {
  position: relative;
  background: transparent;
  z-index: 2222;
  border:0;
  overflow:hidden;
  left:0;
  transition: .3s ease-in-out;
  border-radius: 0;
  span {
    width: 30px;
    height: 3px;
    background: $white;
    display: block;
    transition: .3s ease-in-out;
    &:nth-child(2) {
      margin: 6px 0;
    }
  }
  &.active {
    position: absolute;
    left: 270px;
    top: 29px;
    span{
      &:nth-child(1) {
        transform: translate(2px, 9px) rotate(45deg);
      }
      &:nth-child(3) {
      transform: translate(1px, -8px) rotate(-45deg);
      }
      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
      }
    }
  }
}