.products {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
  position: relative;
  @media(min-width: 960px) {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }

  @media(min-width: 1250px) {
    gap: 5.625rem;
  }
  @media(min-width: 1439px) {
    padding: 0 100px;
  }
  &__item {
    grid-column: span 1/span 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  &__image {
    border: 2px solid $white;
    border-radius: 1.25rem;
    overflow:hidden;
    margin-bottom: 7rem;
    max-width: 85%;
    height: auto;
    width: 95%;

    @media(min-width: 575px) {
      width: 80%;
      margin-bottom: 2.875rem;
    }
    @media(min-width: 960px) {
     width: auto;
    }
    @media(min-width: 1080px) {
      max-width: 100%;
    }
  }

  &__caption {

    position: absolute;
    font-family: 'Roboto', sans-serif;
    left:0;
    right:0;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(29.6924px);
    border-radius: 7.42311px;
    padding: 15px 24px;
    border:1.5px solid $white;
    z-index: 2;
    @media(min-width: 575px) {
      display: flex;
      padding: 9px 24px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 25.7561px;
    line-height: 128.5%;
    letter-spacing: 0.005em;
    color: $white;
  }

  &__seller {
    font-size: 11.7557px;
    line-height: 128.5%;
    letter-spacing: 0.005em;
    color: $white;
    opacity: 0.5;
    &:hover {
      opacity: .8;
    }
  }
  &__price {
    margin-top: 7px;
    font-weight: 700;
    font-size: 20.8105px;
    line-height: 128.5%;
    letter-spacing: 0.005em;
    background: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 1rem;
    @media(min-width: 575px) {
      margin-bottom: 0;
    }
  }
  .btn {
    display: block;
    text-align: center;
    @media(min-width: 575px) {
      display: inline-flex;
    }
  }
}