.top-creators {
  padding-top: 4.3rem;
  padding-bottom: 3.75rem;

  &__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.25;
    letter-spacing: 0.005em;
    color: $white;
    text-align: center;
    margin: 0 0 2rem;

    @media(min-width: 1241px) {
      font-size: 3rem;
    }
    @media(min-width: 1439px) {
      font-size: 59.0024px;
      line-height: 76px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.75rem;
    a {
      margin: 0 0.65625rem;
    }
  }
}