<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>NFTKING</title>
  </head>
  <body>
  <div class="style-ellipse-1">
    <svg width="804" height="857" viewBox="0 0 804 857" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle opacity="0.5" cx="734" cy="123" r="734" fill="url(#paint0_radial_11_100)"/>
      <defs>
        <radialGradient id="paint0_radial_11_100" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(734 123) rotate(112.41) scale(555.39)">
          <stop stop-color="#725BDA"/>
          <stop offset="1" stop-color="#06132D" stop-opacity="0"/>
        </radialGradient>
      </defs>
    </svg>
  </div>
    <header class="header js-header">
      <div class="container">
        <div class="header__holder">
          <div class="header__col nav-btn-holder">
            <button class="nav-button js-nav-button">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="backdrop"></div>
          <nav class="header__col header__nav-holder">
            <a class="header__nav-link" href="#" title="Marketplace">
              Marketplace
            </a>
            <a class="header__nav-link" href="#" title="Creators">
              Creators
            </a>
            <a class="header__nav-link" href="#" title="Community">
              Community
            </a>
          </nav>
          <div class="header__col text-center header__col--logo">
            <a href="#" title="NFTKING">
              <img src="<%= require('./images/logo.svg') %>" alt="NFTKING">
            </a>
          </div>
          <div class="header__col text-right header__col--wallet">
            <a class="btn btn--main btn--small" href="#" title="Connect Wallet">
              Connect Wallet
            </a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="top-banner">
        <div class="container">
          <div class="top-banner__inner">
            <div class="top-banner__caption">
              <h1 class="top-banner__title">
                Discover & Collect<br>
                <span class="top-banner__highlight">Super Rare</span> Digital<br>
                Artworks
              </h1>
              <p class="top-banner__text">
                The largest NFT marketplace. Authentic and truly unique digital
                creation. Signed and issued by the creator, made possible by blockchain technology
              </p>
              <div class="top-banner__buttons">
                <a class="btn btn--main" href="#" title="Let’s Explore">
                  Let’s Explore
                </a>
                <a class="btn btn--outline" href="#" title="Sell NFT">
                  Sell NFT
                </a>
              </div>
            </div>
            <div class="top-banner__image">
              <div class="top-banner__cards">
                <img class="top-banner__card top-banner__card--c1" src="<%= require('./images/card1.jpg') %>" alt="">
                <img class="top-banner__card top-banner__card--c2" src="<%= require('./images/card2.png') %>" alt="">
                <img class="top-banner__card top-banner__card--c3" src="<%= require('./images/card3.png') %>" alt="">
              </div>
              <div class="top-banner__logos-bar">
                <img class="lozad" data-src="<%= require('./images/metamask.svg') %>" alt="Matemask">
                <img class="lozad" data-src="<%= require('./images/binance.svg') %>" alt="Binance">
                <img class="lozad" data-src="<%= require('./images/coinbase.svg') %>" alt="Coinbase">
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="style-ellipse-2">
        <svg width="1263" height="2073" viewBox="0 0 1263 2073" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.5" cx="78" cy="888" r="1185" fill="url(#paint0_radial_11_99)"/>
          <defs>
            <radialGradient id="paint0_radial_11_99" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(77.9999 888) rotate(112.41) scale(896.644)">
              <stop stop-color="#725BDA"/>
              <stop offset="1" stop-color="#06132D" stop-opacity="0"/>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <section class="trending">
        <div class="style-ellipse-3">
          <svg width="1440" height="2358" viewBox="0 0 1440 2358" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse opacity="0.3" cx="768" cy="1179" rx="1433" ry="1179" fill="url(#paint0_radial_11_98)"/>
            <defs>
              <radialGradient id="paint0_radial_11_98" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(768 1179) rotate(116.621) scale(922.527 1048.54)">
                <stop stop-color="#725BDA"/>
                <stop offset="1" stop-color="#06132D" stop-opacity="0"/>
              </radialGradient>
            </defs>
          </svg>
        </div>
        <div class="container">
          <div class="trending__top-caption">
            <h2 class="trending__title">
              Trending This Week
            </h2>
            <p class="trending__text">
              Various kinds of Artwork categories that are trending this week. The trend will be reset every week. Don’t miss out on the best artworks every week
            </p>
          </div>
          <div class="products">
            <div class="products__item">
              <img class="products__image lozad" data-src="<%= require('./images/product-1.jpg') %>" alt="Miles Grogosters">
              <div class="products__caption">
                <div>
                  <div class="products__title">
                    Miles Grogosters
                  </div>
                  <a class="products__seller" href="#" title="@rominolegs">
                    @rominolegs
                  </a>
                  <div class="products__price">
                    4.99 ETH
                  </div>
                </div>
                <a class="btn btn--main btn--small btn--capitalize" href="#" title="Collect now">
                  Collect now
                </a>
              </div>
            </div>
            <div class="products__item">
              <img class="products__image lozad" data-src="<%= require('./images/product-2.jpg') %>" alt="Reox Fancxy">
              <div class="products__caption">
                <div>
                  <div class="products__title">
                    Reox Fancxy
                  </div>
                  <a class="products__seller" href="#" title="@hibnastiar">
                    @hibnastiar
                  </a>
                  <div class="products__price">
                    3.27 ETH
                  </div>
                </div>
                <a class="btn btn--main btn--small btn--capitalize" href="#" title="Collect now">
                  Collect now
                </a>
              </div>
            </div>
            <div class="products__item">
              <img class="products__image lozad" data-src="<%= require('./images/product-3.jpg') %>" alt="Miles Grogosters">
              <div class="products__caption">
                <div>
                  <div class="products__title">
                    Miles Grogosters
                  </div>
                  <a class="products__seller" href="#" title="@rominolegs">
                    @rominolegs
                  </a>
                  <div class="products__price">
                    4.99 ETH
                  </div>
                </div>
                <a class="btn btn--main btn--small btn--capitalize" href="#" title="Collect now">
                  Collect now
                </a>
              </div>
            </div>
            <div class="products__item">
              <img class="products__image lozad" data-src="<%= require('./images/product-4.jpg') %>" alt="Tuinz Rey">
              <div class="products__caption">
                <div>
                  <div class="products__title">
                    Tuinz Rey
                  </div>
                  <a class="products__seller" href="#" title="@rominolegs">
                    @rominolegs
                  </a>
                  <div class="products__price">
                    2.99 ETH
                  </div>
                </div>
                <a class="btn btn--main btn--small btn--capitalize" href="#" title="Collect now">
                  Collect now
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="top-creators">
        <div class="container">
          <div class="top-creators__title">
            Top List Creator
          </div>
          <div class="top-creators__buttons js-creators-nav-tabs">
            <a class="btn btn--main" href="#creators-1" title="Popular">
              Popular
            </a>
            <a class="btn btn--outline" href="#creators-2" title="Following">
              Following
            </a>
          </div>
          <div class="creators__tab-pane active" id="creators-1">
            <div class="creators swiper js-creators-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-1.jpg') %>" alt="Hibnastiar">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-1-avatar.png') %>" alt="Hibnastiar">
                      <a class="creators__name" href="#" title="Hibnastiar">
                        Hibnastiar
                      </a>
                      <div class="creators__artworks">
                        <strong>27.3K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe btn--subscribe--active">
                        Followed
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-2.jpg') %>" alt="Tukirin">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-2-avatar.png') %>" alt="Tukirin">
                      <a class="creators__name" href="#" title="Tukirin">
                        Tukirin
                      </a>
                      <div class="creators__artworks">
                        <strong>21.6K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe">
                        Follow
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-3.jpg') %>" alt="Aksaraz">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-3-avatar.png') %>" alt="Aksaraz">
                      <a class="creators__name" href="#" title="Aksaraz">
                        Aksaraz
                      </a>
                      <div class="creators__artworks">
                        <strong>14.0K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe btn--subscribe--active">
                        Followed
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-4.jpg') %>" alt="Yuk Jum">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-4-avatar.png') %>" alt="Yuk Jum">
                      <a class="creators__name" href="#" title="Yuk Jum">
                        Yuk Jum
                      </a>
                      <div class="creators__artworks">
                        <strong>11.9K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe">
                        Follow
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="creators__tab-pane" id="creators-2">
            <div class="creators swiper js-creators-2">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-1.jpg') %>" alt="Hibnastiar">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-1-avatar.png') %>" alt="Hibnastiar">
                      <a class="creators__name" href="#" title="Hibnastiar">
                        Hibnastiar
                      </a>
                      <div class="creators__artworks">
                        <strong>27.3K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe btn--subscribe--active">
                        Followed
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-4.jpg') %>" alt="Yuk Jum">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-4-avatar.png') %>" alt="Yuk Jum">
                      <a class="creators__name" href="#" title="Yuk Jum">
                        Yuk Jum
                      </a>
                      <div class="creators__artworks">
                        <strong>11.9K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe btn--subscribe--active">
                        Followed
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-2.jpg') %>" alt="Tukirin">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-2-avatar.png') %>" alt="Tukirin">
                      <a class="creators__name" href="#" title="Tukirin">
                        Tukirin
                      </a>
                      <div class="creators__artworks">
                        <strong>21.6K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe btn--subscribe--active">
                        Followed
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="creators__item">
                    <img class="creators__bg-image swiper-lazy" data-src="<%= require('./images/creator-3.jpg') %>" alt="Aksaraz">
                    <div class="creators__info">
                      <img class="creators__avatar swiper-lazy" data-src="<%= require('./images/creator-3-avatar.png') %>" alt="Aksaraz">
                      <a class="creators__name" href="#" title="Aksaraz">
                        Aksaraz
                      </a>
                      <div class="creators__artworks">
                        <strong>14.0K</strong> Artwork
                      </div>
                      <button class="btn btn--subscribe btn--subscribe--active">
                        Followed
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="newsletter">
        <div class="container">
          <div class="newsletter__inner">
            <form action="/" method="post">
              <h3 class="newsletter__title">
                Never miss a drop!
              </h3>
              <p class="newsletter__text">
                Subscribe to super-exclusive drop list and be the first to know about upcoming drops
              </p>
              <div class="newsletter__input-group">
                <input class="newsletter__input" type="email" placeholder="Enter your email address">
                <button class="btn btn--main" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__text">
        © 2018 - 2022 NFTKING, Inc
      </div>
    </footer>
    <div class="style-ellipse-4">
      <svg width="1440" height="2069" viewBox="0 0 1440 2069" fill="none" xmlns="http://www.w3.org/2000/svg">
        <ellipse opacity="0.5" cx="1263" cy="1179" rx="1433" ry="1179" fill="url(#paint0_radial_11_101)"/>
        <defs>
          <radialGradient id="paint0_radial_11_101" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1263 1179) rotate(116.621) scale(922.527 1048.54)">
            <stop stop-color="#725BDA"/>
            <stop offset="1" stop-color="#06132D" stop-opacity="0"/>
          </radialGradient>
        </defs>
      </svg>
    </div>
    <div class="style-ellipse-5">
      <svg width="1440" height="1561" viewBox="0 0 1440 1561" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle opacity="0.3" cx="61" cy="1433" r="1433" fill="url(#paint0_radial_11_97)"/>
        <defs>
          <radialGradient id="paint0_radial_11_97" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(60.9999 1433) rotate(112.41) scale(1084.3)">
            <stop stop-color="#725BDA"/>
            <stop offset="1" stop-color="#06132D" stop-opacity="0"/>
          </radialGradient>
        </defs>
      </svg>
    </div>
  </body>
</html>
